<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Pillbox</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Welcome to ICSL's smart Pillbox. Please select the template.</h1>
          <a class="btn btn-primary btn-lg" id="pillbox" onclick="select('pillbox')" role="button">Pillbox</a>
          <a class="btn btn-primary btn-lg" onclick="select('bloodtest')" role="button">Blood test</a>
          <a class="btn btn-primary btn-lg" onclick="select('appc')" role="button">App C</a>
          <br>

        <div id="returnedNumber"></div>
      </div>


        <div id="QRModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Please scan the QR code to upload historical records to the doctor.</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-6" id="Qrcode"></div>
                    </div>
                    <br>
                    <p>When the upload is finished, please click Next.</p>
                    <div class="modal-footer">
                    <div class="col-sm-6">
                        <button class="btn btn-primary btn-lg modal-footer-btn" onclick="redirect()" role="button">Next</button>
                    </div>



                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->


    <script type="text/javascript" src="../public/js/index.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>
