<!DOCTYPE html>

<html>
<head>


    <!-- Latest compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <link href="../public/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/starter-template.css" rel="stylesheet">
    <link href="../public/bootstrap-3.3.7-dist/css/select-style.css" rel="stylesheet">

    <!--jQuery-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="../public/bootstrap-3.3.7-dist/js/jsencrypt.min.js"></script>
    <script src="../public/bootstrap-3.3.7-dist/js/qrcode.js"></script>
    <script type="text/javascript" src="../public/bootstrap-3.3.7-dist/js/bootstrap-year-calendar.min.js"></script>


</head>

<body style="background-color:#f0f0f5;">

<%- body %>

</body>

</html>