
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Platform</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ><a href="/pillbox">Pillbox Home</a></li>
                <li ><a href="/">Schedule</a></li>


            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!--Original from Tianrui Peng
@Feb 23-->
<div class="table-title">
    <h3> weekly schedule </h3>
</div>
<div class="pickDay1Date">
    <h4> Please select a date for day 1 before filling the form: <input type="text" id="datepicker"> </h4>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-left">Time Slot</th>
        <th id = "day1", class="text-left">Day 1</th>
        <th class="text-left">Day 2</th>
        <th class="text-left">Day 3</th>
        <th class="text-left">Day 4</th>
        <th class="text-left">Day 5</th>
        <th class="text-left">Day 6</th>
        <th class="text-left">Day 7</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr>
        <td class="text-left">
            Time Slot 1
        </td>
        <td class="text-left">
            <input id="basicExample1" type="text" name="Mon_time1" class="timeInput1" />
        </td>
        <td class="text-left">
            <input id="basicExample5" type="text" name="Tue_time1" class="timeInput1" />
        </td>
        <td class="text-left">
            <input id="basicExample9" type="text" name="Wed_time1" class="timeInput1" />
        </td>
        <td class="text-left">
            <input id="basicExample13" type="text" name="Wed_time1" class="timeInput1" />
        </td>
        <td class="text-left">
            <input id="basicExample17" type="text" name="Wed_time1" class="timeInput1" />
        </td>
        <td class="text-left">
            <input id="basicExample21" type="text" name="Wed_time1" class="timeInput1" />
        </td>
        <td class="text-left">
            <input id="basicExample25" type="text" name="Wed_time1" class="timeInput1" />
        </td>
    </tr>
    <tr>
        <td class="text-left">
            Time Slot 2
        </td>
        <td class="text-left">
            <input id="basicExample2" type="text" name="Mon_time2" class="timeInput2" />
        </td>
        <td class="text-left">
            <input id="basicExample6" type="text" name="Tue_time2" class="timeInput2" />
        </td>
        <td class="text-left">
            <input id="basicExample10" type="text" name="Wed_time2" class="timeInput2" />
        </td>
        <td class="text-left">
            <input id="basicExample14" type="text" name="Wed_time2" class="timeInput2" />
        </td>
        <td class="text-left">
            <input id="basicExample18" type="text" name="Wed_time2" class="timeInput2" />
        </td>
        <td class="text-left">
            <input id="basicExample22" type="text" name="Wed_time2" class="timeInput2" />
        </td>
        <td class="text-left">
            <input id="basicExample26" type="text" name="Wed_time2" class="timeInput2" />
        </td>
    </tr>
    <tr>
        <td class="text-left">
            Time Slot 3
        </td>
        <td class="text-left">
            <input id="basicExample3" type="text" name="Mon_time3" class="timeInput3" />
        </td>
        <td class="text-left">
            <input id="basicExample7" type="text" name="Tue_time3" class="timeInput3" />
        </td>
        <td class="text-left">
            <input id="basicExample11" type="text" name="Wed_time3" class="timeInput3" />
        </td>
        <td class="text-left">
            <input id="basicExample15" type="text" name="Wed_time3" class="timeInput3" />
        </td>
        <td class="text-left">
            <input id="basicExample19" type="text" name="Wed_time3" class="timeInput3" />
        </td>
        <td class="text-left">
            <input id="basicExample23" type="text" name="Wed_time3" class="timeInput3" />
        </td>
        <td class="text-left">
            <input id="basicExample27" type="text" name="Wed_time3" class="timeInput3" />
        </td>
    </tr>
    <tr>
        <td class="text-left">
            Time Slot 4
        </td>
        <td class="text-left">
            <input id="basicExample4" type="text" name="Mon_time4" class="timeInput4" />
        </td>
        <td class="text-left">
            <input id="basicExample8" type="text" name="Tue_time4" class="timeInput4" />
        </td>
        <td class="text-left">
            <input id="basicExample12" type="text" name="Wed_time4" class="timeInput4" />
        </td>
        <td class="text-left">
            <input id="basicExample16" type="text" name="Wed_time4" class="timeInput4" />
        </td>
        <td class="text-left">
            <input id="basicExample20" type="text" name="Wed_time4" class="timeInput4" />
        </td>
        <td class="text-left">
            <input id="basicExample24" type="text" name="Wed_time4" class="timeInput4" />
        </td>
        <td class="text-left">
            <input id="basicExample28" type="text" name="Wed_time4" class="timeInput4" />
        </td>
    </tr>
    </tbody>
</table>
<div id="QRModal-schedule" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please scan the QR code to receive the new schedule.</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-6" id="Qrcode-schedule"></div>
            </div>
            <br>

            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

<button class="timeButton", style="float: right;", id="setTimeButton", type="submit", onclick="submit()">Submit time</button>

<button class="autoFillButton", style="float: center;", id="autofill", onclick="autoFill()">Apply to the rest of the week</button>

<!--include js file-->

<script type="text/javascript" src="../public/js/schedule.js"></script>
<script type="text/javascript", src="../public/bootstrap-3.3.7-dist/js/jquery.timepicker.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript", src="../public/bootstrap-3.3.7-dist/js/moment.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

</body>